  @media screen and (max-width: 300px) {
  .image-mobile{
    width: 65px !important;
    height: auto !important;
  }
  .mfp-img{
    width: 150px !important;
    height: auto !important;
  }
  .fourth, .half{
    width: 300px !important;
    height: auto !important;
    flex-direction: row !important;
    justify-content: space-around;
  }
   .half .image-mobile{
    width: 125px !important;
    height: auto !important;
  }
  .fourth  .image-mobile{
    width: 100px !important;
    height: auto !important;
  }
}
figure{
  margin: 0em 0 !important;
}
@media (min-width: 64em) {
    .page {
        width: calc(100% - 400px) !important;
        padding-inline-end: 120px !important;
    }
    figure img {
    width: 100% !important;
}
}
@media screen and (min-width: 60em) and (max-width: 64em) {
  .page {
        width: calc(100% - 230px) !important;
        padding-inline-end: 0px !important;
    }
    figure.half>a, figure.half>img {
        width: 140px !important;
        height: auto;
    }
    figure img {
    width: 100% !important;
}
}
@media screen and (min-width: 48em) and (max-width: 63em) {
    figure.half>a, figure.half>img {
        width: 140px !important;
        height: auto;
    }
}
.sidebar__right{
  display: none !important;
}

@media screen and (min-width: 37.5em) {

figure.half>a, figure.half>img {
        width: 120px !important;
        height: auto;
    }
    figure img {
    width: 100% !important;
}
}
@media screen and (max-width: 48em) and (min-width: 20em) {
  figure img {
    width: 100% !important;
}
figure.half>a, figure.half>img {
        width: 120px !important;
        height: auto;
    }
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 20%;
  left: -120%;
  width: 100%;
  cursor: auto;
}