::selection {
  background-color: #ffeb3b; /* This is the color that appears when you highlight text */
  color: #000; /* This is the text color when highlighted */
}

@media screen and (max-width: 300px) {
  .image-mobile{
    width: 65px !important;
    height: auto !important;
  }
  .mfp-img{
    width: 150px !important;
    height: auto !important;
  }
  .fourth, .half{
    width: 300px !important;
    height: auto !important;
    flex-direction: row !important;
    justify-content: space-around;
  }
   .half .image-mobile{
    width: 125px !important;
    height: auto !important;
  }
  .fourth  .image-mobile{
    width: 100px !important;
    height: auto !important;
  }
}
figure{
  margin: 0em 0 !important;
}
@media (min-width: 64em) {
    .page {
        width: calc(100% - 400px) !important;
        padding-inline-end: 120px !important;
    }
    figure img {
    width: 100% !important;
}
}
@media screen and (min-width: 60em) and (max-width: 64em) {
  .page {
        width: calc(100% - 230px) !important;
        padding-inline-end: 0px !important;
    }
    figure.half>a, figure.half>img {
        width: 140px !important;
        height: auto;
    }
    figure img {
    width: 620px !important;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100% !important;
  left: 0% !important;
  width: 100% !important;
  cursor: auto;
  margin-left: 0px !important;
}
.mfp-image-holder .mfp-content {
  max-width: 100%;
  margin-left: 45% !important;
}
}
@media screen and (min-width: 48em) and (max-width: 63em) {
    figure.half>a, figure.half>img {
        width: 140px !important;
        height: auto;
    }
    .mfp-bottom-bar {
      margin-top: -36px;
      position: absolute;
      top: 100% !important;
      left: 0% !important;
      width: 100% !important;
      cursor: auto;
      margin-left: 0px !important;
  }
  figure img {
    width: 500px !important;
}
.mfp-image-holder .mfp-content {
  max-width: 100%;
  margin-left: 0% !important;
}
}
.sidebar__right{
  display: none !important;
}

@media screen and (min-width: 37.5em) {

figure.half>a, figure.half>img {
        width: 120px !important;
        height: auto;
    }
    figure img {
    width: 100% !important;
}
}
@media screen and (max-width: 48em) and (min-width: 20em) {
  figure img {
    width: 100% !important;
}
figure.half>a, figure.half>img {
        width: 120px !important;
        height: auto;
    }
    .mfp-bottom-bar {
      margin-top: -36px;
      position: absolute;
      top: 100% !important;
      left: 0% !important;
      width: 100% !important;
      cursor: auto;
      margin-left: 0px !important;
  }
  .mfp-image-holder .mfp-content {
    max-width: 100%;
    margin-left: 0% !important;
  }
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 15%;
  left: -150%;
  width: 170%;
  cursor: auto;
  margin-left: -80px;
}
.mfp-image-holder .mfp-content {
  max-width: 100%;
  margin-left: 35%;
}
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #000000;
  opacity: 0.87 !important;
  filter: alpha(opacity = 80);
}

@media screen and (min-width: 769px) {
  #lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .93);
    display: none;
    flex-direction: row; /* Changed to row for side-by-side layout */
    overflow: hidden; /* Prevent body scrolling */
  }
  .title{
    display: none;
  }
}

#lightbox img {
  max-width: 40%; /* Adjust the width for better side-by-side layout */
  max-height: 88%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
  top: 0;
  position: sticky;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  padding-top: 50px;
  overflow-y: auto; /* Make the description scrollable */
}

.description-right {
  color: white;
  font-size: 18px;
  margin-left: 20px;
  max-width: 40%; /* Limit the width */
}

.description-left {
  color: white;
  font-size: 18px;
  margin-right: 20px;
  max-width: 40%;
}

.description {
  text-align: justify;
  text-align: left;
  line-height: 1.6; /* Improve readability with spacing between lines */
  margin-top: -15px;
}
body.lightbox-open {
  overflow: hidden; /* Prevent body scroll when modal is open */
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 images per row on desktop */
  gap: 10px; /* Adjust the gap between the images as necessary */
}

.grid img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 3 images per row on tablet */
  }

}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 images per row on mobile */
  }
  #lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    display: none;
    flex-direction: column-reverse; /* Changed to row for side-by-side layout */
    overflow: hidden; /* Prevent body scrolling */
  }
  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    padding-top: 50px;
    overflow-y: auto; /* Make the description scrollable */
    padding: 18% 0px 0px 24% ;
  }
  .description-left {
    color: white;
    font-size: 15px;
    margin-right: 20px;
    max-width: 70% !important;
    overflow: auto;
    display: none !important;
  }
  .description-right {
    color: white;
    font-size: 15px;
    margin-right: 20px;
    max-width: 70% !important;
    overflow: auto;
    display: none !important;
  }
  #lightbox img {
    max-width: 80%; /* Adjust the width for better side-by-side layout */
    max-height: 88%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
    top: 0;
    position: relative;
    width: 71%;
  }
  .title{
    font-size: x-large;
    color: white;
  }
}

.close-button {
  position: fixed;
  top: 0px;
  right: 30px;
  background: transparent;
  border: none;
  color: white;
  font-size: 5rem;
  cursor: pointer;
  z-index: 100001; /* Make sure it's above the lightbox content */
}
.close-button:hover {
  color: grey;
}

.next-button{
  position: fixed;
  background-color: transparent;
  border: 0px;
  color: white;
  font-size: 55px;
  top: 50%;
  right: 15px;
}
.previous-button{
  vertical-align: middle;
  position: fixed;
  background-color: transparent;
  border: 0px;
  color: white;
  font-size: 55px;
  left: 15px;
  top: 50%;
}